<div class="sidebar-menu">
    <ul>
        <li><a href="/chat/add-contacts/"><span data-feather="user-plus"></span>Añadir Amigo/a</a></li>
        <li><a href="/chat/requests/"><span data-feather="bell"></span>Solicitudes</a></li>
        <li><a href="/chat/historial/"><span data-feather="message-circle"></span>Chats</a></li>
        <li><a href="/chat/contacts/"><span data-feather="user"></span>Contactos</a></li>
        <li><a href="/profile/update/"><span data-feather="smile"></span>Mi Perfil</a></li>
    </ul>
</div>